:root {
    --hero-main-text: #101012;
    --hero-sub-text: #808082;
    --hero-background: #fdfdfd;
    --blue: #0074e6;
    --hero-header-b: #efefef;
    --hero-header-s: #636363;

    --about-background: #efefef;
    --about-main-text: #101012;
    --about-sub-text: #7f7f7f;
    --about-header-b: #d9d9d9;
    --about-header-s: #101012;

    --stack-background: #161719;
    --stack-main-text: #f2f2f4;
    --stack-sub-text: #848486;
    --stack-header-b: #2e2e30;
    --stack-header-s: #ffffff;
    --stack-line: #2d2d2f;

    --project-background: #101012;
    --project-main-text: #f2f2f4;
    --project-sub-text: #818183;
    --project-header-b: #27282a;
    --project-header-s: #ffffff;
    --project-line: #272729;

    --project-background: #101012;
    --project-main-text: #f2f2f4;
    --project-sub-text: #5f5f5f;
    --project-header-b: #27282a;
    --project-header-s: #ffffff;
    --project-line: #272729;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header div {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px; 
    background-color: var(--hero-header-b);
    border-radius: 6px;
}
header hr {
    background-color: var(--hero-header-s);
    width: 19px;
    border: 1px solid ;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--hero-background);
    position: fixed;
    width: 100%;
    height: 68px;
}
header h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.hero {
    background-color: var(--hero-background);
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5%;
}

h3 {
    font-size: 18px;
    font-weight: 500;
}
h2 {
    font-size: 24px;
}
h1 {
    font-size: 48px;
    font-weight: 900;
}
h1, h2, h3 {
    font-family: 'Lato', sans-serif;
}
.blue {
    color: var(--blue)
}
video {
    width: 100%;
    height: 100%;
}
.hero-img {
    position: relative;
}
.socials, .overlay, .music {
    position: absolute;
}
.hero .overlay {
  left: 0;
  right: 0;
  bottom: 0;
  height: 40%;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  -webkit-mask-image: linear-gradient(
    to top,
    black 0%,
    black 60%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to top,
    black 0%,
    black 60%,
    transparent 100%
  );
  z-index: 1;
}
.hero h3 {
    color: var(--hero-sub-text);
}
.music {
    right: 1rem;
    bottom: 1rem;
    z-index: 5;
}


/*About me*/
.about {
    background-color: var(--about-background);
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    text-align: center;
    padding:  0 2rem;
}
.about-me {
    font-size: 24px;
    color: var(--about-main-text)
}
.about h3 {
    color: var(--about-sub-text)
}

.s-d {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.s-d p {
    font-size: 16px;
}

/*Tech stack*/
.stacks {
    height: calc(100vh - 68px);
    background-color: var(--stack-background);
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.stacks h3 {
    color: var(--stack-sub-text);
}
.columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 90%;
}
.column {
    padding: 0.5rem;
}
.column p {
    font-size: 16px;
    color: var(--stack-main-text);
}
.line {
    border-right: 1px solid var(--stack-line);
    border-left: 1px solid var(--stack-line);
}
.stack {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 3rem;
}
.stack-img {
    width: 30px;
    height: 30px;
    border: 1px solid blue;
}

/*project*/

.projects {
    background-color: var(--project-background);
    padding: 4rem 2rem;
    text-align: center;
}
.projects hr {
    border: 1px solid var(--project-line);
}
.projects h3 {
    color: var(--project-sub-text);
    margin-bottom: 2rem;
}

.project {
    border-top: 1px solid var(--project-line);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0;
}
.last {
    border-bottom: 1px solid var(--project-line);
}
.name {
    color: var(--project-main-text);
}
.project-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.project-header button {
    width: 20px;
    height: 20px;
    border: 1px solid var(--blue);
    background-color: inherit;
}
.project-img {
    border: 1px solid var(--blue);
    width: 100%;
    height: 250px;
}
.project-des {
    font-size: 16px;
    color: var(--project-sub-text);
    text-align: left;
}

/*project*/
footer {
    height: calc(100vh - 68px);
}